<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div
    class="position-relative row w-100 h-100 bg-gredient justify-content-center"
  >
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <img
                src="./assets/images/logos/logo_pelluhue.png"
                class="align-middle m-2"
                alt="logo"
              />
            </a>
          </div>

          <form [formGroup]="frmLogin" (ngSubmit)="validateLoginData()" class="m-t-30">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Usuario</mat-label
            >
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput id="txtUser" #txtUser formControlName="txtUser" />
              <mat-error *ngIf="
              frmLogin.controls['txtUser'].touched && 
              !frmLogin.controls['txtUser'].valid &&
              frmLogin.controls['txtUser'].value !== ''
              ">Error: Debes ingresar un usuario válido</mat-error>
            </mat-form-field>
            <!-- password -->
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block"
              >Password</mat-label
            >
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" id="txtPass" #txtPass formControlName="txtPass" />
              <mat-error *ngIf="
              frmLogin.controls['txtPass'].touched && 
              !frmLogin.controls['txtPass'].valid &&
              frmLogin.controls['txtPass'].value !== ''
              ">Error: Debes ingresar un password válido</mat-error>
            </mat-form-field>

            <div class="d-flex align-items-center m-b-12">
              <a
                [routerLink]="['/']"
                class="text-primary f-w-600 text-decoration-none m-l-auto f-s-14"
                >Olvide mi Password ?</a
              >
            </div>
            <button mat-flat-button color="primary" class="w-100" [disabled]="!frmLogin.valid">
              Ingresar
            </button>
            <!-- input -->
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
